<span class="post-list-title">Links</span>
<ul class="icons">
  <li>
	  <a target="_blank" href="https://www.facebook.com/richard.gibert" class="icon fa-facebook">
      <span class="label">Facebook</span>
		</a>
	</li>
  <li>
	  <a target="_blank" href="https://www.linkedin.com/in/richard-gibert-32bba36/" class="icon fa-linkedin">
      <span class="label">LinkedIn</span>
		</a>
	</li>
	<li>
	  <a target="_blank" href="https://github.com/rgibert" class="icon fa-github">
      <span class="label">GitHub</span>
		</a>
	</li>
	<li>
	  <a target="_blank" href="https://keybase.io/rgibert/pgp_keys.asc" class="icon fa-lock">
      <span class="label">PGP Public Key</span>
		</a>
	</li>
	<li>
    <a href="mailto:richard@gibert.ca" class="icon fa-envelope-o">
       <span class="label">Email</span>
    </a>
  </li>
</ul>
