<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <p></p>
            <a href="https://github.com/rgibert"
               class="fab fa-lg fa-github"
               style="color:darkslategray"></a>
            <a href="https://www.facebook.com/richard.gibert"
               class="fab fa-lg fa-facebook-f"
               style="color:darkslategray"></a>
            <a href="https://www.linkedin.com/in/richard-gibert-32bba36/"
               class="fab fa-lg fa-linkedin-in"
               style="color:darkslategray"></a>
            <a href="https://keybase.io/rgibert/pgp_keys.asc"
               class="fas fa-lg fa-lock"
               style="color:darkslategray"></a>
            <a href="mailto:richard@gibert.ca"
               class="far fa-lg fa-envelope"
               style="color:darkslategray"></a>
        </header>
    </section>
</div>